#logo {
    width: 300px;
    margin-top: 50px;
}

#connexion {
    background-color: white;
    border-radius: 5px;
    color: #303030;
    text-align: center;
    letter-spacing: 0.7px;
    width: 500px;
    height: 690px;
    margin-top: 50px;
}

#connexion h1 {
    text-decoration: underline;
    font-style: none;
    font-weight: normal;
    padding: 20px;
}

#connexion p {
    margin: 15px;
}

#connexion a {
    margin: 15px;
    text-decoration: none;
    color: #303030;
}

input {
    padding: 10px;
    border-style: solid #303030 1px;
    background-color: white;
}

#button {
    margin: 15px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#button:hover {
    margin: 15px;
    cursor: pointer;
    color: white;
    background-color: #303030;
}

#connexion a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
}

#radio {
    margin-top: 3px;
}