#logo {
    width: 300px;
    margin-top: 25px;
}

#fieldset {
    margin-top: 100px;
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.8px;
}

fieldset {
    border: 2px solid white;
    padding: 10px;
    width: auto;
    display: inline-block;
    margin: 10px;
}

legend {
    padding-left: 10px;
    padding-right: 10px;
}

#buttonDes {
    margin: 25px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px;
    font-size: 17px;
    border-color: white;
    border-style: solid white 1px;
    background-color: transparent;
    color: white;
}

#buttonDes:hover {
    cursor: pointer;
    color: #303030;
    background-color: white;
}

#buttonDes:focus {
    outline: none;
}

#trapeze {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 60px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 300px;
}

#score {
    color: #303030;
    font-size: 1.8em;
    margin-top: 10px;
}

.fadeIn {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

.fadeIn.load {
    opacity: 1;
}

.fadeIn.unload {
    opacity: 0;
}