#logo {
    margin-top: 7%;
}

#menu {
    margin-top: 80px;
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.7px;
    padding-bottom: 50px;
}

#menu ul {
    list-style: none;
}

#menu li a {
    color: white;
    text-decoration: none;
}

#menu li a:hover {
    text-decoration: underline;
}